%h2.text-3xl.md:text-4xl.mb-4
  %strong A site felhaszn치l칩i

.flex.flex-wrap.shadow.rounded-lg
  .px-6.py-3.bg-blue-500.text-left.text-sm.font-medium.text-white.uppercase{class: "w-1/2"}
    Felhaszn치l칩
  .px-6.py-3.bg-blue-500.text-right.text-sm.font-medium.text-white.uppercase{class: "w-1/2"}
    Szint
  - @users.each do |user|
    = link_to user, class: "py-4 px-6 hover:bg-blue-200 transition-all duration-300 flex flex-wrap bg-white divide-gray-200 w-full" do
      .text-sm{class: "w-3/4"}
        .font-medium.text-gray-900
          = user.name
          - if user.admin
            %span.text-xs.bg-blue-600.text-white.py-1.px-2.rounded.align-top
              admin
        .text-gray-600
          = user.email
      .text-sm.text-gray-900{class: "w-1/4"}
        .text-right
          = user.floor
