%h1.text-3xl.md:text-5xl.pb-8
  Konyhák

.grid.grid-cols-1.md:grid-cols-2.md:gap-4.mb-8
  - @kitchens.each do |kitchen|
    = link_to kitchen, class: "p-4 mb-1 bg-white hover:bg-gray-100 shadow rounded-lg cursor-pointer" do
      %span.text-xl
        = "#{kitchen.floor}. szint"
      %span.p-1.float-right
        %svg.w-5.h-5{:fill => "none", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24"}
          %path{:d => "M13.25,10L6.109,2.58c-0.268-0.27-0.268-0.707,0-0.979c0.268-0.27,0.701-0.27,0.969,0l7.83,7.908  c0.268,0.271,0.268,0.709,0,0.979l-7.83,7.908c-0.268,0.271-0.701,0.27-0.969,0c-0.268-0.269-0.268-0.707,0-0.979L13.25,10z"}
